.container {
  font-size: 14px;
  font-weight: "arial";
  line-height: 22px;
  background: rgb(238, 231, 231);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.div-line {
  margin: 0 auto;
  border: 1px solid #000;
  width: 95%;
}
.header,
.main,
.footer {
  margin: 20px;
}
.header [class^="col"] {
  background: rgb(77, 73, 73);
  color: white;
}
.header .img-logo {
  background: rgb(238, 231, 231);
}
.img {
  align-self: start;
  margin: 10px;
  padding: 10px;
}
img {
  width: 100%;
  height: 100%;
}
.content-left div {
  text-align: center;
  background: rgb(77, 73, 73);
  color: white;
  min-height: 120px;
}
.content-right div:not(.box-right) {
  background: rgb(187, 194, 197);
  color: white;
}

.box {
  background: inherit;
  width: 45%;
  margin: 10px;
  padding: 10px;
}


.footer-list-left div {
  background: rgb(77, 73, 73);
  width: 45%;
  margin: 10px;
  padding: 10px;
}
.footer-list-right div {
  background:rgb(77, 73, 73);
  min-height: 100px;
  margin: 10px;
  padding: 10px;
}


 /* ---------бордеры для просмотра верстки и сетки -------- */


 /* .outline-row-red {
  outline: 4px solid rgb(250, 2, 2);
}
.outline-seo-block-pink {
  outline: solid 2px rgb(245, 4, 165);
}
.outline-flex-block-blue {
  outline: 3px solid rgb(2, 19, 250);
}
.outline-flex-block-div-blue-light {
  outline: 2px dotted rgb(2, 200, 250);
} */
