.container {
  background: rgb(218, 216, 105);
  color: aliceblue;
  /* text-align: center; */
}

[class^="row"] {
  min-height: 150px;
  margin-top: 20px;
  border: 1px solid rgb(240, 24, 24);
  background: rgb(235, 226, 226);
}
[class^="col"] {
  border: 1px solid #000;

  min-height: 50px;
  background: rgb(112, 110, 110);
}
