.container {
  padding: 20px;
  font-size: 14px;
  font-weight: "arial";
  line-height: 22px;
  background: rgb(238, 231, 231);
}
.div-line {
  margin: 0 auto;
  border: 1px solid #000;
  width: 97%;
}
.auto-height {
  height: 100%;
}
[class^="row"] {
  background: rgb(238, 231, 231);
}
.header [class^="col"] {
  margin-top: 20px;
  margin-bottom: 20px;

  background: rgb(77, 73, 73);
  color: white;
  min-height: 100px;
}
/* .header .row .row {
  background: rgb(77, 73, 73);
} */
.content-left [class^="col"] {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(77, 73, 73);
  color: white;
  min-height: 120px;
}
.content-right [class^="col"] {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(165, 149, 149);
  color: white;
  min-height: 150px;
  border: 1px solid #000;
}
.footer [class^="col"] {
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(59, 57, 57);
  color: white;
  min-height: 70px;
}
.content-footer [class^="col"] {
  padding: 20px;
}
/* .header [class^="col"] {
  background: rgb(219, 18, 18);
  color: white;
  min-height: 100px;
  border: 1px solid #000;
} */
/* .main [class^="col"] {
  background: rgb(201, 20, 20);
  min-height: 100px;
  border: 1px solid #000;
  color: white;
} */
